<div class="container">
  <h1>Welcome, <span class="font-monospace fw-bold"><%= current_user.email %></span>!</h1>

  <p>Your personal access token is <kbd><%= current_user.token %></kbd></p>

  <p>In order to comply with the GDPR in place in Europe, you can get your data with the link below.</p>
  <div class="d-flex flex-wrap align-items-center justify-content-start mt-4">
    <%= link_to "Get my data", profile_info_path(current_user), class: "btn btn-outline-primary me-1" %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-danger" %>
  </div>
</div>

