<div class="px-4 container text-center">
  <h1 class="fw-bold">RSR Network</h1>

  <div>
    <%= image_tag "enseirb.jpg" %>
    <div class="d-flex flex-wrap align-items-center justify-content-center">
      <% if current_user %>
        <%= link_to "Profile", profile_root_path, :class => 'btn btn-primary btn-lg m-4' %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-danger btn-lg m-4" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary btn-lg m-4' %>
      <% end %>
    </div>
  </div>
</div>
